<ul class="treeview" *ngIf="tree">
    <span *ngIf="tree.subordinateList.length > 0" [ngClass]="tree.expanded ? 'toggle-expanded' : 'toggle-collapsed'" class="toggle" (click)="toggle(tree)">
        <span class="toggle-children"></span>
    </span>
        
    <div class="node-wrapper" *ngIf="tree.expanded">
        <span class="node-title" [ngClass]="tree.getLevel()">
            {{ tree.displayName() }} ({{tree.subordinateList.length}})
        </span>
    </div>
    <li *ngFor="let subTree of tree.subordinateList">
        <div class="tree-children">
            <tree-view [tree]="subTree"></tree-view>
        </div>
    </li>
</ul>